<div class=" flex flex-col items-center px-5 py-8 mx-auto">
  <div class="flex flex-col w-full mb-8 prose prose-emerald text-left max-w-max lg:max-w-2xl">
    <div class="w-full mx-auto">
      <h2><%= term %></h2>
      <p><%= description %></p>
    </div>
  </div>
</div>
