@import "normalize";
@import "nord";

.mt-1 {
  margin-top: 1em;
}

.mb-1 {
  margin-bottom: 1em;
}

.mt-2 {
  margin-top: 2em;
}

.mb-2 {
  margin-bottom: 2em;
}

body {
  position: relative;
  font-family: Georgia, serif;
  font-size: 1.3em;
  color: $nord3;
  padding-bottom: 30px;
  margin-bottom: 20px;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 30px;
}

.content {
  width: 800px;
  margin: 0 auto;
}

.content-block {
  margin-top: 60px;
}

.text-highlight-1 {
  color: $nord14;
}

dl.homepage {
  dt {
    margin-top: 30px;
    margin-bottom: 15px;
    display: list-item;
    list-style-type: disc;
  }

  dd {
    font-size: 0.8em;
    margin-left: 0;
    margin-bottom: 20px;
  }
}
