@import "normalize";
@import "nord";

@import url("https://fonts.googleapis.com/css?family=Inconsolata");

.mt-1 {
  margin-top: 1em;
}

.mb-1 {
  margin-bottom: 1em;
}

.mt-2 {
  margin-top: 2em;
}

.mb-2 {
  margin-bottom: 2em;
}

body {
  font-family: "Inconsolata", monospace;
  font-size: 1.3em;
  color: $nord3;
  background-color: $nord6;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 30px;
}

.content {
  width: 800px;
  margin: 0 auto;
}

.content-block {
  margin-top: 60px;
}

.text-highlight-1 {
  color: $nord15;
}

dl.homepage {
  dt {
    margin-bottom: 15px;
    display: list-item;
    list-style-type: disc;
  }

  dt:hover {
    cursor: pointer;
  }

  dd {
    margin-left: 0;
    margin-bottom: 20px;
  }
}
