@import "normalize";
@import "nord";

@import url("https://fonts.googleapis.com/css?family=Inconsolata");

body {
  font-family: "Inconsolata", monospace;
  color: $nord3;
  background-color: $nord6;
}

.content {
  width: 800px;
  margin: 0 auto;
}
