<div>
  <dd class="flex-grow">
    <h2 class="mb-3 text-lg font-medium tracking-tighter text-neutral-600"><%= title %></h2>
    <p class="text-base leading-relaxed text-gray-400">
      <%= description %>
    </p>
    <a href="<%= href %>" class="inline-flex items-center mt-6 font-semibold text-emerald-600 md:mb-2 lg:mb-0 hover:text-neutral-600" title="read more">
      Learn More
      <svg class="w-4 h-4 ml-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20" fill="currentColor">
        <path fill="none" d="M0 0h24v24H0z"></path>
        <path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"></path>
      </svg>
    </a>
  </dd>
</div>
