<section>
  <div class="px-4 py-12 mx-auto max-w-7xl sm:px-6 md:px-12 lg:px-24 lg:py-24">
    <div class="flex flex-col w-full mb-12 text-center">
      <h1 class="max-w-5xl text-2xl font-bold leading-none tracking-tighter text-neutral-600 md:text-5xl lg:text-6xl lg:max-w-7xl">
        Use the most powerful tool to plan your life and work - a single text file
      </h1>
    </div>
  </div>
</section>

<section>
  <div class="px-4 py-12 mx-auto max-w-7xl sm:px-6 md:px-12 lg:px-24 lg:py-24">
    <div class="flex flex-wrap items-center mx-auto max-w-7xl">
      <div class="w-full lg:max-w-lg lg:w-1/2 rounded-xl">
        <div>
          <% code_block("markdown") do %>
# My Plan

## Inbox

- [ ] #home - Fix the lamp
- [ ] Update Rust

## 2020-08-01, Saturday

- [ ] Develop photos
- [X] Pay bills

## 2020-07-31, Friday

- Met with Mike and Molly
- [X] #work - Review open pull requests
- [X] #work - Fix the flaky test
          <% end %>
        </div>
      </div>
      <div class="flex flex-col items-start mt-12 mb-16 text-left lg:flex-grow lg:w-1/2 lg:pl-6 xl:pl-24 md:mb-0 xl:mt-0">
        <dl class="grid grid-cols-1 gap-4 md:grid-cols-2">
          <%= partial(
            "alas/feature",
            :locals => {
              :title => "Schedule tasks",
              :description => "Keep tasks scheduled in future in another text file."
            }
          ) %>
          <%= partial(
            "alas/feature",
            :locals => {
              :title => "Schedule periodic tasks",
              :description => "Keep tasks that repeat neatly organized."
            }
          ) %>
          <%= partial(
            "alas/feature",
            :locals => {
              :title => "Manage contacts",
              :description => "Keep in touch with your family, friends and contacts."
            }
          ) %>
          <%= partial(
            "alas/feature",
            :locals => {
              :title => "No vendor lock-in",
              :description => "You own the data. Works with any text editor."
            }
          ) %>
        </dl>
      </div>
    </div>
  </div>
</section>

<section>
  <div class=" flex flex-col items-center px-5 py-8 mx-auto max-w-7xl sm:px-6 lg:px-8">
    <a href="/" class="px-5 py-4 text-base font-medium text-center text-white transition duration-500 ease-in-out transform bg-blue-600 lg:px-10 rounded-xl hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">Get started</a>
  </div>
</section>

<section>
  <div class=" flex flex-col items-center px-5 py-8 mx-auto max-w-7xl sm:px-6 lg:px-8">
    <div class="flex flex-col w-full max-w-3xl mx-auto prose text-left prose-blue">
      <div class="w-full mx-auto">
        <h2>Choose any text editor and Alas CLI to maintain the text file</h2>

<% code_block("bash") do %>
alas --insert-days 3 \
  --remove-empty-days \
  --schedule-tasks scheduled.md \
  --schedule-contacts contacts \
  plan.md
<% end %>

        <p>
          Alas is a <span title="Command Line Interface">CLI</span> application
          that helps you maintain your plan file. Alas supports a number
          of commands for updating the plan file.
        </p>

        <dl>
          <div class="flex flex-col items-center pb-10 mx-auto my-10 border-b border-gray-300 max-w-7xl sm:flex-row">
            <div class="inline-flex items-center justify-center flex-shrink-0 w-20 h-20 text-neutral-600 rounded-full bg-gray-50 sm:mr-10">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M8 9l3 3-3 3m5 0h3M5 20h14a2 2 0 002-2V6a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
              </svg>
            </div>
            <div class="flex-grow mt-6 prose text-center sm:text-left sm:mt-0 prose-md">
              <h2 class="not-prose"><code>--insert-days</code></h2>
              <p><code>alas --insert-days 3</code> will insert 3 new days (starting from today) into your plan file.</p>
            </div>
          </div>

          <dt><code>--insert-days</code></dt>
          <dd><code>alas --insert-days 3</code> will insert 3 new days (starting from today) in your plan file.</dd>

          <dt><code>--remove-empty-days</code></dt>
          <dd><code>alas --remove-empty-days</code> will remove past days that don't have any events or tasks from the plan.</dt>

          <dt>--stats</dt>
          <dd>...</dd>

          <dt>--stats</dt>
          <dd>...</dd>

          <dt>--stats</dt>
          <dd>...</dd>
        </dl>
      </div>
    </div>
  </div>
</section>
