---
title: Welcome to Hackberry
---

<div class="content-block">
  <h1>Welcome to <span class="text-highlight-1">Hackberry</span></h1>

  <h2 class="mt-2">
    We keep Ruby on Rails applications clean, well oiled and ticking<span class="text-highlight-1">.</span>
  </h2>

  <p>
    We're a 2 person web development team working with a solid, production
    tested web stack - Ruby on Rails, JavaScript and PostgreSQL.
  </p>

  <h2 class="mt-2">How can we help<span class="text-highlight-1">?</span></h2>

  <dl class="homepage mb-2">
    <dt>
      <span>
        I have a Rails application and need help with the maintenance.
      </span>
    </dt>

    <dd>
      We got this. We work with Rails for more than 8 years. Some applications
      we maintain are older than 14. Released before Rails 1.0! We find joy
      in keeping a useful system in a good shape.
    </dd>

    <dt>
      <span>
        I have a slow Rails application and want to make it faster.
      </span>
    </dt>

    <dd>
      This happens. There's often not enough time to invest in performance. But
      performance matters. We use solid, industry standard tools to find
      performance bottlenecks in your application. Low hanging fruits and high
      benefits first!
    </dd>

    <dt>
      <span>
        I need help with testing a Rails application.
      </span>
    </dt>

    <dd>
      We would be happy to help! We <strong>always</strong> write tests and we
      love when other teams take effort to do so. We can help your team start
      with testing and Test Driven Development. We can write core tests for
      existing apps, fix flaky tests, optimize test suites and set up a
      Continuous Integration pipeline for your project.
    </dd>

    <dt>
      <span>
        I need help with something else.
      </span>
    </dt>

    <dd>
      Is it on the Web? We can probably do it. We helped our clients automate
      workflows, launch static and WordPress websites, implement designs
      and WordPress themes. Even if it's not our core expertise, if you're our
      client, we'll help any way we can.
    </dd>
  </dl>

  <p>
    Feel free to get in touch any time by <%= contact_link "sending us an email"%>.
  </p>

  <h2 class="mt-2">Projects</h2>

  <h3><a href="/alas.html">Alas</a></h3>


  <p>
    Alas is a command line utility for managing a plan in a single Markdown
    file.
  </p>

  <p>
    Alas can insert new empty days into your plan, remove empty days from
    past, schedule tasks and help you stay in touch with your contacts.
  </p>

  <% if blog.articles.any? %>
    <h2 class="mt-2">Blog</h2>

    <ul>
      <% blog.articles.each do |article| %>
        <li>
          <%= link_to article.title, article.url %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
