---
title: Welcome to Hackberry
---

<h1>Welcome to Hackberry</h1>

<h2>We build web applications. How can we help?</h2>

<dl>
  <dt>
    I visit the same website every day. It's time consuming.
  </dt>

  <dd>
    We can build a system that will check the website for you every day or as
    ofthen as you like. The system can notify you each time it notices a change.
    We can implement notifications via email, Slack or any other platform that
    you already use.<br/>
    Let's talk about details.
  </dd>

  <dt>
    I have to check many websites every few days. I would like to automate this.
  </dt>
</dl>
